body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(39deg, #262525, #000000);
    color: #fff;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    backdrop-filter: blur(10px);
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 19px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #6037f3;
}

.gallery-header {
    margin-top: 100px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #fff;
}

.photo-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid */
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.photo {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}